@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.TreeImg {
  position:relative;
  display: block;
  width: auto;
  height: 75vh;
  margin: 0px auto;
  margin-bottom: 0;
  margin-top: -10vw;
  z-index: -10;
}

.h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
